#countLabel{
    display: block;
    text-align: center;
    font-size: 8em;
    font-family: Helvetica, sans-serif;
}

#buttons{
    text-align: center;
}

.button{
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(255, 146, 134);
    border-radius: 8px;
    margin: 2px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: rgb(233, 95, 74);
}